<h1>İletişim</h1>
<form method="post">
    <div>
        <label>Message</label>
        <input name="message" type="text" />
    </div>
    <div>
        <label>email</label>
        <input name="email" type="text" />
    </div>
    <div>
        <label>firstname</label>
        <input name="firstname" type="text" />
    </div>
    <button>Send</button>
</form>